In [1]:
print("Hello World !!")

Hello World !!

In [2]:
# pip install cassandra-driver

In [3]:
# import cassandra print (cassandra.__version__)

In [2]:
import cassandra
print (cassandra.__version__)

3.29.1

In [3]:
import os
from dotenv import load_dotenv

# Load environment variables from .env file
load_dotenv()

# Access the SECRET values
client_id = os.getenv("CLIENT_ID")
secret = os.getenv("SECRET")
token = os.getenv("TOKEN")

In [ ]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
  'secure_connect_bundle': 'secure-connect-cassandrademo.zip'
}

auth_provider = PlainTextAuthProvider(client_id, secret)
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("select release_version from system.local").one()
# print(row)
if row:
    print(row[0])
else:
    print("An error occurred.")

In [7]:
row

Row(release_version='4.0.0.6816')

In [8]:
# Command to use a keyspace
try:
    query = "use employess_keyspace"
    session.execute(query)
    print("Inside the employess_keyspace")
except Exception as err:
    print("Exception occurred while using Keyspace : ", err)

Inside the employess_keyspace

In [9]:
# Command to create a table inside a KEyspace
try:
    query = """create table employees(
                emp_id int,
                emp_name varchar,
                emp_salary int,
                emp_dept varchar,
                emp_email varchar,
                emp_phone varchar,
                primary key (emp_id, emp_dept)
              )
            """
    session.execute(query)
    print("Table created inside the keyspace")
except Exception as err:
    print("Exception Occurred while creating the table : ", err)

Table created inside the keyspace

In [10]:
# Alter the table in cassandra to drop a column
try:
    query = "alter table employees drop emp_email"
    session.execute(query)
    print("Column dropped successfully !!")
except Exception as err:
    print("Exception Occurred while dropping the column: ",err)

Column dropped successfully !!

In [11]:
# Alter the table in cassandra to add a new column
try:
    query = "alter table employees add emp_email text"
    session.execute(query)
    print("Column added successfully !!")
except Exception as err:
    print("Exception Occurred while adding the column: ",err)

Column added successfully !!

In [ ]:
# Drop a table in cassandra
# try:
#     query = "drop table employees"
#     session.execute(query)
#     print("Table dropped successfully !!")
# except Exception as err:
#     print("Exception Occurred while dropping the table: ",err)

In [12]:
# Insert data into cassandra table
try:
    query = "insert into employees(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(1, 'Shashank', 10000, 'Software', 'abc.gmail.com','+91 768467474')"
    session.execute(query)
    print("Record inserted successfully !!")
except Exception as err:
    print("Exception Occurred while inserting the data into table: ",err)

Record inserted successfully !!

In [13]:
# Insert data into cassandra table
try:
    query = "insert into employees(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(2, 'Rahul', 20000, 'IT', 'xyx.gmail.com','+91 908467474')"
    session.execute(query)
    print("Record inserted successfully !!")
except Exception as err:
    print("Exception Occurred while inserting the data into table: ",err)

Record inserted successfully !!

In [14]:
# Insert data into cassandra table
try:
    query = "insert into employees(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(3, 'Sunny', 22000, 'HR', 'klm.gmail.com','+91 800067474')"
    session.execute(query)
    print("Record inserted successfully !!")
except Exception as err:
    print("Exception Occurred while inserting the data into table: ", err)

Record inserted successfully !!

In [15]:
# Insert data into cassandra table
try:
    query = "insert into employees(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(4, 'Vishal', 30000, 'Software', 'mno.gmail.com','+91 600467474')"
    session.execute(query)
    print("Record inserted successfully !!")
except Exception as err:
    print("Exception Occurred while inserting the data into table: ",err)

Record inserted successfully !!

In [16]:
# Select query on cassandra table
try:
    query = "select * from employees"
    result = session.execute(query)
    for row in result:
        print(row)
except Exception as err:
    print("Exception Occurred while selecting the data from table: ", err)

Row(emp_id=1, emp_dept='Software', emp_email='abc.gmail.com', emp_name='Shashank', emp_phone='+91 768467474', emp_salary=10000)
Row(emp_id=2, emp_dept='IT', emp_email='xyx.gmail.com', emp_name='Rahul', emp_phone='+91 908467474', emp_salary=20000)
Row(emp_id=4, emp_dept='Software', emp_email='mno.gmail.com', emp_name='Vishal', emp_phone='+91 600467474', emp_salary=30000)
Row(emp_id=3, emp_dept='HR', emp_email='klm.gmail.com', emp_name='Sunny', emp_phone='+91 800067474', emp_salary=22000)

In [17]:
# Select query for specific columns in cassandra table and how to access from Row object
try:
    query = "select emp_id, emp_name from employees"
    result = session.execute(query)
    # option 1
    for row in result:
        print("Emp ID : {}, Emp Name : {}".format(row[0],row[1]))
except Exception as err:
    print("Exception Occurred while selecting the data from table: ",err)

Emp ID : 1, Emp Name : Shashank
Emp ID : 2, Emp Name : Rahul
Emp ID : 4, Emp Name : Vishal
Emp ID : 3, Emp Name : Sunny

In [19]:
# Write a query to get total count and max salary of employees
try:
    query = "select count(*) as row_count, max(emp_salary) as max_salary from employees"
    result = session.execute(query)
    row = result.one()
    print(row)
    #print(row[0])
except Exception as err:
    print("Exception Occurred while selecting the data from table: ",err)

Row(row_count=4, max_salary=30000)

In [22]:
# Write a query to filter data from cassandra table or how to use where clause
# Rules for where clause - It can be used effectively with high performance for given below type of columns
# 1.) Partition Key (Single or Composite)
                     #OR
# 2.) if Cluster column  used in where clause then it should be with Partition Key
                   #OR
# 3.) A column on which we have applied the index
                   #OR
# 4.) A column which is not part of partition key or index column or clustering column then we can use where clause but we have to
# use keyword ALLOW FILTERING - it will be a super slow performance when data volume is very high

try:
    query = "select * from employees where emp_name='Shashank' ALLOW FILTERING"
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ", err)

Row(emp_id=1, emp_dept='Software', emp_email='abc.gmail.com', emp_name='Shashank', emp_phone='+91 768467474', emp_salary=10000)

In [23]:
# where clause for Partition key only or Rule no -1

try:
    query = "select * from employees where emp_id=2"
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ", err)

Row(emp_id=2, emp_dept='IT', emp_email='xyx.gmail.com', emp_name='Rahul', emp_phone='+91 908467474', emp_salary=20000)

In [24]:
# where clause for Clustering key only or Rule no - 2 

try:
    query = "select * from employees where emp_dept='Software' and emp_id=1"
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=1, emp_dept='Software', emp_email='abc.gmail.com', emp_name='Shashank', emp_phone='+91 768467474', emp_salary=10000)

In [25]:
# Group by in cassandra  -  Allowed for all columns which are part of Primary Key
# Follow given below rules
# Rule - 1 : Use only partition key in the group by
              #OR
# Rule - 2 : if Cluster key column is used then follow the actual declared sequence in the primary key
try:
    query = "select emp_id, sum(emp_salary) as sum_salary from employees group by emp_id"
    result = session.execute(query)
    row = result.one()
    for row in result:
        print("Emp ID : ", row[0])
        print("Sum Of Salary : ", row[1])
except Exception as err:
    print("Exception Occured while selecting the data from table: ", err)

Emp ID :  1
Sum Of Salary :  10000
Emp ID :  2
Sum Of Salary :  20000
Emp ID :  4
Sum Of Salary :  30000
Emp ID :  3
Sum Of Salary :  22000

In [27]:
# Group by in cassandra 
# Rule - 2 : if Cluster key column is used then follow the actual declared sequence in the primary key
try:
    query = "select emp_id, emp_dept, sum(emp_salary) as sum_salary from employees group by emp_id, emp_dept"
    result = session.execute(query)
    row = result.one()
    for row in result:
        print("Emp ID : ", row[0])
        print("Emp Dept : ", row[1])
        print("Sum Of Salary : ", row[2])
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Emp ID :  1
Emp Dept :  Software
Sum Of Salary :  10000
Emp ID :  2
Emp Dept :  IT
Sum Of Salary :  20000
Emp ID :  4
Emp Dept :  Software
Sum Of Salary :  30000
Emp ID :  3
Emp Dept :  HR
Sum Of Salary :  22000